<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PENGDA weixin Pay Web Application</display-name>
  <context-param>
    <description>公众号ID</description>
    <param-name>pay.wx.appid</param-name>
    <param-value>wxaea199a4b0a6faf8</param-value>
  </context-param>
  <context-param>
    <param-name>pay.wx.appsecret</param-name>
    <param-value>3c7e59fe960b87e54145aa9ad2df6701</param-value>
  </context-param>
  <context-param>
    <param-name>pay.wx.spikey</param-name>
    <param-value>q1ChOpOYyJYcbpE2X10LFF19dlt8V75c</param-value>
  </context-param>
  <context-param>
    <param-name>pay.wx.shopid</param-name>
    <param-value>1283996101</param-value>
  </context-param>
  <listener>
    <listener-class>com.pinelet.weixinpay.servlet.PayContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>QRCodeService</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.QRCodeServer</servlet-class>
    <init-param>
      <param-name>qrcode.width</param-name>
      <param-value>300</param-value>
    </init-param>
    <init-param>
      <param-name>qrcode.height</param-name>
      <param-value>300</param-value>
    </init-param>
    <init-param>
      <description>M, L, H, Q</description>
      <param-name>qrcode.level</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>qrcode.urlprefix</param-name>
      <param-value>https://open.weixin.qq.com/connect/oauth2/authorize</param-value>
    </init-param>
    <init-param>
      <param-name>qrcode.redirecturl</param-name>
      <param-value>http://www.ssjcx.com/pay/prepay?t=g</param-value>
    </init-param>
    <init-param>
      <param-name>qrcode.shorturl.server</param-name>
      <param-value>https://api.weixin.qq.com/cgi-bin/shorturl?access_token=</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>MainService</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.MainServer</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>PrePayServer</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.PrePayServer</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
  	<servlet-name>paytest</servlet-name>
  	<servlet-class>com.pinelet.weixinpay.servlet.WXPayPayTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitOrderServer</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.SubmitOrderServer</servlet-class>
    <init-param>
      <param-name>pay.notifyURL</param-name>
      <param-value>http://www.ssjcx.com/pay/wx/recresult</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>VaildService</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.VaildService</servlet-class>
    <init-param>
      <param-name>token</param-name>
      <param-value>7OEsWTwEY6aIJS3A7gcsqMyuY2myL1Mk</param-value>
    </init-param>
    <init-param>
      <description>not be used now</description>
      <param-name>aeskey</param-name>
      <param-value>a6NceNPlRt7dd8Gn0322TEvtn2wKUCBeN8bWPnV5bOE</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ReceicePayResult</servlet-name>
    <servlet-class>com.pinelet.weixinpay.servlet.ReceicePayResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainService</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrePayServer</servlet-name>
    <url-pattern>/prepay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VaildService</servlet-name>
    <url-pattern>/wx/vaild</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QRCodeService</servlet-name>
    <url-pattern>/wx/qrcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServer</servlet-name>
    <url-pattern>/wx/suborder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceicePayResult</servlet-name>
    <url-pattern>/wx/recresult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>paytest</servlet-name>
  	<url-pattern>/paytest</url-pattern>
  </servlet-mapping>
</web-app>